<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/juan-urtazun/test2015">
        <span class="glyphicon glyphicon-home"></span> Test2015
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="home.chart({type: 'line'})">Home</a></li>
        <li ui-sref-active="active"><a ui-sref="#">About</a></li>
        <li ui-sref-active="active"><a ui-sref="#">Contact</a></li>
        <li ui-sref-active="active"><a ui-sref="depExamples">depExamples</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right acme-navbar-text">
      </ul>
    </div>
  </div>
</nav>
